{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    ["relay", { "compat": true, "schema": "./data/schema.graphql" }],
    "react-hot-loader/babel",
    ["module-resolver", { "root": ["./src", "./spec"] }],
  ]
}
