{
  "presets": ["env", "airbnb"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators",
    "transform-class-properties",
    "./relayPlugin",
    ["module-resolver", {
      "root": ["./src", "./spec"]
    }],
  ]
}
