.this {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 0;
  margin-left: 15%;
  border-bottom: solid 1px #EF5350;
  border-radius: 2px;
}
.this.complete { border-bottom-color: #C5CAE9; }
.this.editing { background-color: rgba(232,234,246 ,0.92); }

.foodName { width: 50%; text-align: left; }
.unit { width: 30%; text-align: left; }
.edit { width: 20%; padding-right: 3%; text-align: right; }
.editIcon { font-size: 18px; }

@media only screen and (min-width: 430px) {
  .this { margin-left: 27%; }
}
