.this {
  composes: page from '../../../../shared/styles/layout.css';
}
.pageHeading {
  composes: pageHeading from '../../../../shared/styles/typography.css';
}
.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 15em;
}
.centerButton { flex-grow: 1; text-align: center; }
.icon {
  composes: icon from '../../../../shared/styles/typography.css';
  font-size: 34px;
}
.authorizing {
  composes: bodyText from '../../../../shared/styles/typography.css';
}
