.this { width: 100%; }
.text {
  composes: largeBodyText from 'shared/styles/_typography.css';
  margin: 0 auto; padding: 0.67em 0;
}
.break800 { display: block; }

@media only screen and (min-width: 800px) {
  .break800 { display: inline; }
  .break800:before { display: inline; content: ' '; }
}
