.this {
  composes: center from 'shared/styles/_layout.css';
}
.text {
  composes: largeBodyText from 'shared/styles/_typography.css';
  margin: 0 auto; padding: 0.67em 0;
}
.text2 {
  composes: bodyText from 'shared/styles/_typography.css';
  margin: 0 auto; padding: 0.67em 0;
}
.break { display: block; }

@media only screen and (min-width: 800px) {
  .break { display: inline; }
  .break:before { display: inline; content: ' '; }
}
