.this {
  composes: center from '../../shared/styles/_layout.css';
  composes: page--smallWidth from '../../shared/styles/_layout.css';
  text-align: left;
  margin-bottom: 25px;
}
.term {
  composes: contentSubheading from '../../shared/styles/_typography.css';
  display: inline;
}
.url { composes: link from '../../shared/styles/_typography.css' }
.definition {
  composes: contentSubheading from '../../shared/styles/_typography.css';
  display: inline;
  margin-left: 0.5em;
  font-weight: 400;
}

