.this {
  composes: page from '../../shared/styles/layout.css';
}
.contentHeading {
  composes: contentHeading from '../../shared/styles/typography.css';
}
.contentSubheading {
  composes: contentSubheading from '../../shared/styles/typography.css';
  font-size: 1.08em;
}
.location {
  composes: articleSubheading from '../../shared/styles/typography.css';
}
.relationships {
  composes: relationships from '../../shared/styles/layout.css';
}
.description {
  composes: bodyText from '../../shared/styles/typography.css';
  composes: description from '../../shared/styles/layout.css';
}
