.page { position: relative; margin: 0 auto; width: 100%; }

.actionsHeading,
.actionsHeadingButton { float: right; }

.relationships {
  margin-top: 2.33em;
}
.relationshipItem {
  line-height: 2.2em;
}
.relationshipItemName {
  composes: bodyText from './typography.css';
  font-size: 1.1em;
}

@media only screen and (min-width: 320px) { .page { width: 300px; } }
@media only screen and (min-width: 375px) { .page { width: 350px; } }
/*
@media only screen and (min-width: 500px) { .page { width: 480px; } }
@media only screen and (min-width: 680px) { .page { width: 650px; } }
@media only screen and (min-width: 950px) { .page { width: 900px; } }
@media only screen and (min-width: 1280px) { .page { width: 1200px; } }
*/
