.page { position: relative; margin: 0 auto; width: 100%; }

.actionsHeading {
  display: flex; align-items: center; justify-content: space-between;
  margin: -15px auto 0; max-width: 250px; height: 80px;
}
.actionsHeadingButton { display: flex; flex-direction: column; }
.centerIconWrapper { position: relative; top: -15px; }

.relationships { margin-top: 2.33em; }

@media only screen and (min-width: 320px) {
  .page { width: 300px; }
  .actionsHeading { max-width: 260px; }
}
@media only screen and (min-width: 375px) {
  .page { width: 350px; }
  .actionsHeading { max-width: 275px; }
}
@media only screen and (min-width: 500px) {
  .page { width: 480px; }
  .actionsHeading { margin-top: 0; }
}
@media only screen and (min-width: 680px) {
  .page { width: 650px; }
  .actionsHeading { margin-top: 15px; max-width: 300px; }
}
/*
@media only screen and (min-width: 950px) { .page { width: 900px; } }
@media only screen and (min-width: 1280px) { .page { width: 1200px; } }
*/
