.this {
  composes: relationshipItem from './RelationshipItemStylesheet.css';
}
.name {
  composes: relationshipItemName from './RelationshipItemStylesheet.css';
}
.colorsPlaceholder {
  composes: colorsPlaceholder from './RelationshipItemStylesheet.css';
}

