html { font-size: 14px; }

.appTitle,           /*h1*/
.pageHeading,        /*h2*/
.contentHeading,     /*h3*/
.contentSubheading,  /*h4*/
.articleHeading,     /*h5*/
.articleSubheading,  /*h6*/
.bodyText,           /*p, span, li, img*/
.buttonText,         /*button*/
.link                /*a*/ {
  color: #263238;
  transition: font-size, color 160ms linear;
}

.icon                /*svg*/ {
  color: #9FA8DA;
  transition: color 160ms linear;
}

.xlargeIcon          /*svg*/ {
  color: #5C6BC0;
  transition: color 160ms linear;
}

.appTagline {
  margin: 0.67em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.023em;
}
.pageHeading {
  margin: 0.83em 0;
  font-family: 'Overlock', sans-serif;
  font-weight: 400;
  font-size: 1.12em;
  text-transform: uppercase;
  border-bottom: 0.18em solid #263238;
}
.contentHeading {
  margin: 1em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
.contentSubheading {
  margin: 1.33em 0;
  font-family: 'Simonetta', serif;
  font-weight: 900;
  font-size: 1.12em;
  text-align: center;
}
.articleHeading {
  font-family: 'Simonetta', serif;
  font-weight: 400;
}
.articleSubheading {
  font-family: 'Overlock', cursive;
  font-weight: 400;
  font-size: 1.08em;
}
.bodyText {
  font-family: 'Simonetta', serif;
  text-decoration: none;
  color: inherit;
}
.button {
  font-family: 'Overlock', cursive;
  font-weight: 400;
  font-size: inherit;
}
.link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
/*
.link:hover {
  text-decoration: underline;
  color: #ff8a65;
}
*/
.icon {
  font-size: 24px;
}
.xlargeIcon {
  font-size: 64px;
}

.bulletList {
  list-style: initial;
  margin: 1em 0;
  padding: 0 0 0 1.5em;
  line-height: 1.6rem;
}
/*
@media only screen and (min-width: 320px) {  }
@media only screen and (min-width: 375px) {  }
*/
@media only screen and (min-width: 500px) {
  .appTagline { font-size: 1.4em; }
  .contentHeading { font-size: 2.1em; }
}
