.this {
  composes: articleHeading from '../../shared/styles/typography.css';
  display: none;
  margin: 50px auto 0; /* bottom: 0 fixes container height */
  max-width: 480px;
}
/*
@media only screen and (min-height: 580px) {
  .this { display: block; }
}
*/
