.this {
  composes: page--gutter from 'shared/styles/_layout.css';
  max-width: 470px;
}
.pageHeading {
  composes: contentHeading from 'shared/styles/_typography.css';
  text-align: left;
}
.heading { composes: contentSubheading from 'shared/styles/_typography.css'; }
.text { composes: bodyText from 'shared/styles/_typography.css'; }
.link {
  composes: link from 'shared/styles/_typography.css';
  text-decoration: underline;
}
.list { composes: bulletList from 'shared/styles/_typography.css'; }
