.this {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 0;
  /* margin-left: 15%; */
  transition: background-color 180ms ease-out;
}
.this:nth-of-type(2n) { background-color: rgba(197, 202, 233, 0.3); }
.this.incomplete { border-bottom: solid 1px #EF5350; }
.this.editing { border-radius: 2px; background-color: rgba(232,234,246 ,0.92); }
.this.wide { margin: 0; }
.this.button:hover { background-color: rgba(159, 168, 218, 0.82); }

.column { box-sizing: border-box; width: 15%; padding-right: 2.5%; text-align: right; }
.column:first-of-type { width: 40%; text-align: left; }
/*
.column::after { content: 'g'; }
.column:first-of-type::after,
.column:nth-of-type(2)::after { content: ''; }
*/
.linkIcon { position: absolute; opacity: 0; top: 100%; right: 2.5%; transition: opacity 300ms ease, top 300ms ease; }
.this:hover .linkIcon { opacity: 1; top: 25%; }

/* .editIcon { font-size: 18px; } */
/*
@media only screen and (min-width: 430px) {
  .this { margin-left: 27%; }
}
*/
