html { font-size: 14px; }

.appTitle,           /*h1*/
.pageHeading,        /*h2*/
.contentHeading,     /*h3*/
.contentSubheading,  /*h4*/
.articleHeading,     /*h5*/
.articleSubheading,  /*h6*/
.bodyText,           /*p, span, li, img*/
.largeBodyText,      /*p*/
.buttonText,         /*button*/
.link                /*a*/ {
  color: #263238;
  transition: font-size, color 160ms linear;
}

.icon                /*svg*/ {
  /*color: #9FA8DA;*/
  color: rgba(92,107,192 ,0.92);
  transition: color 160ms linear;
}

.appName {
  margin: 0.67em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 0.023em;
}
.pageHeading {
  margin: 0.83em 0;
  font-family: 'Overlock', sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  text-align: center;
  letter-spacing: 0.03rem;
}
.contentHeading {
  margin: 1em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 400;
  font-size: 1.76rem;
  text-align: center;
}
.contentSubheading {
  margin: 1.33em 0;
  font-family: 'Simonetta', serif;
  font-weight: 900;
  font-size: 1.32rem;
}
.articleHeading {
  font-family: 'Simonetta', serif;
  font-weight: 400;
  font-size: 1.46rem;
  text-align: center;
}
.articleSubheading {
  font-family: 'Overlock', cursive;
  font-weight: 600;
  font-size: 1.32rem;
  letter-spacing: 0.01rem;
}
.bodyText {
  font-family: 'Simonetta', serif;
  font-size: 1.17rem;
  text-decoration: none;
  color: inherit;
}
.largeBodyText {
  margin: 0.67em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.023em;
}
.button {
  font-family: 'Overlock', cursive;
  font-weight: 400;
  font-size: inherit;
}
.link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
/*
.link:hover {
  text-decoration: underline;
  color: #ff8a65;
}
*/
.icon { font-size: 24px; }
.smallIcon { font-size: 16px; }
.largeIcon { font-size: 58px; }
.bulletList {
  list-style: initial;
  margin: 1em 0;
  padding: 0 0 0 1.5em;
  line-height: 1.6rem;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
@media only screen and (min-width: 320px) {  }
@media only screen and (min-width: 375px) {  }
*/
@media only screen and (min-width: 500px) {
  .contentHeading { font-size: 2.1em; }
}
