.this {
  position: relative;
  margin-bottom: 15px;
  padding: 1em 0;
  border: 3px solid rgb(92,107,192);
  border-radius: 2px;
  background-color: rgba(232,234,246 ,0.92);
}
.this.empty {
  display: none;
}
