.this { display: flex; align-items: center; margin: 0.67em 0; }
.text { display: inline-block; margin: 0 0 0 18px; }
.text.light { font-weight: 400; }
.text.emptyWarning {
  font-style: italic;
  font-weight: 400;
  opacity: 0.88;
}
