.this { display: flex; align-items: center; margin: 0.67em 0; }
.text { display: inline-block; margin: 0 0 0 18px; }
.text.light { font-weight: 400; }
.iconWrapper { width: 24px; text-align: center; margin-top: -5px; }
.iconSize { width: auto; height: auto; max-width: 24px; max-height: 26px; }
