.this {
  display: flex; align-items: center; justify-content: center;
  width: 48px; height: 48px;
  padding: 8px;
  cursor: pointer;
}
.this.disabled { cursor: default; }
.this.large { width: 88px; height: 88px; padding: 12px; }
.icon { composes: icon from './_typography.css'; }
.disabled .icon { opacity: 0.3; }
.largeIcon { font-size: 64px; }
