.page { position: relative; margin: 0 auto; width: 100%; }
.center { margin: 0 auto; width: 100%; text-align: center; }
.left { text-align: left; }
.topSmall { margin-top: 15px; }
.topMedium { margin-top: 25px; }
.bottomSmall { margin-bottom: 15px; }
.bottomMedium { margin-bottom: 25px; }
.leftSmall { margin-left: 8px; }
.leftMedium { margin-left: 15px; }
.inline { display: inline-block; }
.flexCenter { display: flex; align-items: center; justify-content: center; }
.flexWrap { flex-wrap: wrap; }

@media only screen and (min-width: 680px) {
  .page { width: 650px; }
}
@media only screen and (min-width: 880px) {
  .page { width: 840px; }
}
@media only screen and (min-width: 1100px) {
  .page { width: 950px; }
}
