.page { composes: page from './_layout.css'; }
.smallPage { composes: page--gutter from './_layout.css'; max-width: 470px; }
.fullPage { composes: page--fullWidth from './_layout.css'; }
.center { composes: center from './_layout.css'; }
.topSmall { margin-top: 15px; }
.topMedium { margin-top: 25px; }
.rightSmall { margin-right: 15px; }
.leftSmall { margin-left: 8px; }
.inline { display: inline; }
