.this {
  transition: background-color 180ms ease;
  border-bottom: 3px solid rgb(55,71,79);
  cursor: pointer;
}
.this:hover { background-color: rgba(255, 255, 255, 0.92); }
.this:last-of-type { border-bottom: none; }
.flexWrapper { display: flex; width: 100%; }
.iconWrapper {
  display: flex; align-items: center; justify-content: center;
  width: 88px;
  padding: 12px;
}
.iconSize { width: auto; height: 34px; max-width: 26px; }
.titleWrapper { flex-grow: 1; }
.title {
  margin: 0;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
  .iconWrapper { width: 112px; }
}
