.this {
  display: flex;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(55,71,79);
  border-radius: 2px;
  background-color: rgba(239,235,233 ,0.92);
}
.this.disabled { }
.iconWrapper {
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  width: 88px; height: 88px;
  padding: 12px;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: rgb(55,71,79);
  cursor: pointer;
}
.iconWrapper.disabled { cursor: default; border-right: none; }
.smallIcon { composes: smallIcon from './_typography.css'; }
.largeIcon { composes: largeIcon from './_typography.css'; }
.titleWrapper { flex-grow: 1; }
.label { margin: 0; line-height: 88px; }

@media only screen and (min-width: 800px) {
  .iconWrapper {
    width: 112px; height: 112px;
    padding: 12px;
  }
  .label { line-height: 112px; }
}
