.this { position: relative; margin: 0 auto; max-width: 350px; }
.header { display: flex; align-items: center; padding-left: 25px; }
.iconContainer { margin: -4px 15px 0 0; }
.icon {
  composes: icon from './_typography.css';
}
.titleContainer {}
.title {
  composes: contentSubheading from './_typography.css';
}
.list {
  composes: bulletList from './_typography.css';
}
.emptyListItem {
  composes: bodyText from './_typography.css';
}
.emptyWarning {
  font-style: italic;
  opacity: 0.88;
}
