.this {
  composes: bodyText from './_typography.css';
  composes: truncate from './_typography.css';
  display: flex; align-items: center;
  height: 36px;
}
.link {
  composes: link from './_typography.css';
}
.status {
  display: inline-block;
  width: 75px;
  text-transform: lowercase;
  font-size: 0.82em;
}
.actions {
  display: inline-block;
  margin-right: 8px;
}
.button { display: flex; flex-direction: column; }
.icon {
  composes: icon from './_typography.css';
}
