.this { position: relative; margin: 0 auto; max-width: 350px; }
.list {
  composes: bulletList from './_typography.css';
  margin: 0;
  padding: 0;
}
.emptyListItem {
  composes: bodyText from './_typography.css';
}
.emptyWarning {
  font-style: italic;
  opacity: 0.88;
}
