.relationshipItem {
  line-height: 2.2em;
}
.relationshipItemName {
  composes: bodyText from './_typography.css';
  font-size: 1.1em;
}
.colorsPlaceholder {
  display: inline-block;
  width: 40px;
}
