.this {
  position: relative;
  display: inline-block;
  top: -0.14em;
}
.primary {
  composes: icon from './_typography.css';
  margin-right: 8px;
  font-size: 20px;
}
.secondary {
  composes: icon from './_typography.css';
  left: -63%;
  margin-right: 8px;
  font-size: 20px;
  opacity: 0.25;
}
.secondaryPlaceholder {
  display: inline-block;
  width: 28px;
}
