html { font-size: 14px; }

.h1, .appName,
.h2, .pageHeading,
.h3, .contentHeading,
.h4, .contentSubheading,
.h5, .articleHeading,
.h6, .articleSubheading,
.bodyText,
.bodyTextLarge,
.buttonText,
div { color: #263238; transition: font-size, color 160ms linear; }
.icon { color: rgba(92,107,192 ,0.92); transition: font-size, color 160ms linear; }
/* .icon { color: #9FA8DA; } */

.h1, .appName {
  margin: 0.67em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 300;
  letter-spacing: 0.023em;
}
.h2, .pageHeading {
  margin: 0.83em 0;
  font-family: 'Overlock', sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  letter-spacing: 0.03rem;
  text-align: center;
  text-transform: capitalize;
}
.h3, .contentHeading {
  margin: 1em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 400;
  font-size: 1.76rem;
  text-align: center;
}
.h4, .contentSubheading {
  margin: 1.33em 0;
  font-family: 'Simonetta', serif;
  font-weight: 900;
  font-size: 1.32rem;
}
.h5, .articleHeading {
  font-family: 'Simonetta', serif;
  font-weight: 400;
  font-size: 1.46rem;
}
.h6, .articleSubheading {
  margin: 0;
  font-family: 'Overlock', cursive;
  font-weight: 600;
  font-size: 1.32rem;
  letter-spacing: 0.01rem;
}
.bodyText {
  font-family: 'Simonetta', serif;
  font-size: 1.17rem;
  text-decoration: none;
  color: inherit;
}
.bodyTextLarge {
  margin: 0.67em 0;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.023em;
}
.paragraph,
.span,
.link,
.listItem,
.image { composes: bodyText; }
.paragraphLarge { composes: bodyTextLarge; }
.internalLink { composes: link; }
.externalLink { composes: link; text-decoration: underline; }
.disabledLink { pointer-events: none; }
.errorMessage {
  composes: bodyText;
  margin: 1em auto;
  width: 86%;
  color: #D84315;
}
.warningMessage {
  composes: bodyText;
  font-style: italic;
  font-weight: 400;
  opacity: 0.88;
}
.button {
  font-family: 'Overlock', cursive;
  font-weight: 400;
  font-size: inherit;
}
.link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
/*
.link:hover {
  text-decoration: underline;
  color: #ff8a65;
}
*/
.icon { font-size: 24px; }
.smallIcon { font-size: 16px; }
.largeIcon { font-size: 58px; }
.list {
  list-style: initial;
  margin: 1em 0;
  padding: 0 0 0 1.5em;
  line-height: 1.6rem;
}
.list.plumb { margin: 0; padding: 0; }
.listItem { composes: bodyText; }
.listItem.noBullet { list-style-type: none; }
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
@media only screen and (min-width: 320px) {  }
@media only screen and (min-width: 375px) {  }
*/
@media only screen and (min-width: 500px) {
  .contentHeading { font-size: 2.1em; }
}
