.h1 { composes: appTitle from './_typography.css'; }
.h2 {
  composes: pageHeading from './_typography.css';
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.h3 { composes: contentHeading from './_typography.css'; text-transform: capitalize; }
.h4 { composes: contentSubheading from './_typography.css'; }
.h5 { composes: articleHeading from './_typography.css'; text-transform: capitalize; }
.h6 { composes: articleSubheading from './_typography.css'; text-transform: capitalize; }
.appName { composes: appName from './_typography.css'; }
.paragraph { composes: bodyText from './_typography.css'; }
.internalLink { composes: link from './_typography.css'; }
.externalLink { composes: link from './_typography.css'; text-decoration: underline; }
.list { composes: bulletList from './_typography.css'; }
.listItem { composes: bodyText from './_typography.css'; }
.icon { composes: icon from './_typography.css'; }
.errorMessage {
  composes: bodyText from './_typography.css';
  margin: 1em auto;
  width: 86%;
  color: #D84315;
}
.warningMessage {
  composes: bodyText from './_typography.css';
  font-style: italic;
  font-weight: 400;
  opacity: 0.88;
}

/*
.pageHeading or contentHeading?
  margin: 2px 0 0 6px;
  font-size: 1.25em;
  font-weight: 600;
*/
