.this {
  display: flex;
  box-sizing: border-box;
  padding: 8px 1%;
  color: rgb(92,107,192);
  border-bottom: solid 2px #263238;
}
.date { width: 21%; text-align: left; }
.macro {
  box-sizing: border-box;
  width: 14%; padding-right: 3%;
  text-align: right;
  font-weight: bold;
  border-right: solid 1px rgb(92,107,192);
}
.macro.cal { width: 21%; }
.completeness { width: 14%; text-align: right; }

@media only screen and (min-width: 430px) {
  .macro::after {
    display: inline-block;
    content: 'g';
  }
  .macro.cal::after {
    display: inline-block;
    content: 'kcal';
    margin-left: 0.67em;
  }
}
