.this {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0 8px;
}
.journalDatesWrapper { flex-grow: 1;  }
.actionPanelWrapper { flex-grow: 1; order: -1; }

@media only screen and (min-width: 880px) {
  .this { flex-direction: row; align-items: flex-start; padding: 0 15px; }
  .journalDatesWrapper { max-width: 700px; }
  .actionPanelWrapper { order: 1; margin-left: 15px; max-width: 550px; }
}
