.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px auto;
}
.buttons {
  composes: center from '../../shared/styles/_layout.css';
  margin-top: 15px;
}
