.this { display: none; }
.button {}
.icon {
  composes: icon from '../../shared/styles/_typography.css';
  font-size: 22px;
}

@media only screen and (min-width: 550px) {
  .this { display: initial; }
}
