.this {
  display: inline-block;
  text-align: center;
  margin: 0 1.26em;
  cursor: pointer;
}
.this:hover {
  border-bottom: solid 4px lightgrey;
}
.icon {}
.label {
  composes: articleSubheading from '../../../../shared/styles/typography.css';
  font-size: 1.28em;
}
