.this { position: relative; }
.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.left,
.right { width: 92%; }
.right { margin: 15px 0 0 0; }
.resultsPanel { margin-top: 15px; }

@media only screen and (min-width: 550px) {
  .flexWrapper {
    flex-direction: initial;
    align-items: initial;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 15px;
  }
  .left { width: 33%; }
  .right { margin: 0 0 0 15px; width: 58%; }
}

@media only screen and (min-width: 880px) {
  .left { width: 29%; }
}
