.this {
  composes: page from 'shared/styles/_layout.css';
  display: flex; align-items: center; justify-content: space-between;
  transition: margin 180ms linear, max-width 180ms linear;
}

@media only screen and (min-width: 800px) {
  .this { padding-top: 15px; }
}
