.this { display: none; }
.appTitle {
  composes: appTitle from '../../shared/styles/_typography.css';
  margin: 0;
  font-size: 1em;
  font-weight: 600;
}
.logoImage { width: 120px; }

@media only screen and (min-width: 550px) {
  display: initial;
}
