.this {
  composes: page from '../../shared/styles/layout.css';
}
.pageHeading {
  composes: pageHeading from '../../shared/styles/typography.css';
  margin-bottom: 0;
}
.actionsHeading {
  composes: actionsHeading from '../../shared/styles/layout.css';
}
.contentHeading {
  composes: contentHeading from '../../shared/styles/typography.css';
}
.contentSubheading {
  composes: contentSubheading from '../../shared/styles/typography.css';
}
.relationships {
  composes: relationships from '../../shared/styles/layout.css';
}
.description {
  composes: bodyText from '../../shared/styles/typography.css';
}
