.this {
  composes: actionsHeadingButton from '../../shared/styles/layout.css';
  position: relative;
  text-align: center;
}
.icon {
  composes: icon from '../../shared/styles/typography.css';
}
.count {
  composes: articleSubheading from '../../shared/styles/typography.css';
  position: absolute;
  width: 100%;
}
