.this {
  composes: page from '../../shared/styles/layout.css';
}
.pageHeading {
  composes: pageHeading from '../../shared/styles/typography.css';
}
.actionsHeading {
  composes: actionsHeading from '../../shared/styles/layout.css';
}
.contentHeading {
  composes: contentHeading from '../../shared/styles/typography.css';
}
.location {
  composes: articleSubheading from '../../shared/styles/typography.css';
  margin: 2.33em 0;
}
.relationships {
  composes: relationships from '../../shared/styles/layout.css';
}
.description {
  composes: bodyText from '../../shared/styles/typography.css';
}
